<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pye">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Tema9.Tema_9"></activity>
        <activity android:name=".Tema8.Tema_8" />
        <activity android:name=".Tema7.Tema_7" />
        <activity android:name=".Tema6.Tema_6" />
        <activity android:name=".Tema5.Tema_5" />
        <activity android:name=".Tema4.Tema_4" />
        <activity android:name=".Tema3.Tema_3" />
        <activity android:name=".Tema2.act.P_T2_Aleatorio" />
        <activity android:name=".Tema2.act.P_T2_TamMuestra" />
        <activity android:name=".Tema1.Tema_1" />
        <activity android:name=".Tema2.Tema_2" />
        <activity android:name=".Tema1.act.FACT" />
        <activity android:name=".Tema1.act.P_MULT" />
        <activity android:name=".Tema1.act.P_AD" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>